.info {
    font-size: large;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    grid-column: 1/2;
}

.info-people {
    font-size: large;
    text-align: left;
    padding-left: 15%;
    padding-right: 15%;
}

.info-no-bullets{
    list-style-type: none;
    font-size: large;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
}

.info-title{
    text-align: left;
    padding-left: 8%;
    /* font-family: 'Lucida Console', monospace;  */
    font-family: Georgia, 'Times New Roman', Times, serif
}

.font-stylin{
}

.logo-fb{
    padding-bottom: 5px;
    padding-left: 5px;
}

.info-page{
    padding-left: 10%;
    padding-right: 10%;
}

.person{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}

.grid-child-media{
    text-align: center;
    grid-column: 2/3;
}

.grid-child-half{
    text-align: center;
    grid-column: 1/2;
}

@media (max-width: 768px) {
  .person{
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  .grid-child-media {
    grid-column: 1/2;
    grid-row: 2;
    text-align: center;
    }
    .grid-child-media img{
        width: 75%;
        }
    .info-people {
        padding: 0;
    }
}



.grid-child-media img{
    width: 60%;
    height: auto;
    object-fit: cover;
}
.horizontal-rect{
    height: 100% !important;
}

.person-image{
    /* max-width: 300px; */
    /* clip: rect(10px, 50px, 50px, 10px); */
}

.logo-image{
    max-width: 40px;
}

.collabs{
  background-color: white;
  color:black;
  padding-top: 2em;
  position: relative;        /* For overlay positioning */
  width: 100%;                /* Match hero-section width */
  margin: 0 auto;            /* Center it horizontally */
  display: flex;             /* Arrange images in a row */
  justify-content: center;   /* Optional: center them */
  align-items: center;       /* Align vertically if needed */
  overflow: hidden;          /* Optional: hide overflow if images are larger */
}


.image-container {
  position: relative;
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns on desktop */
  gap: 1rem; /* spacing between images */
  overflow: hidden;
  padding-bottom: 1em;
}

/* For small screens — 1 image per row */
@media screen and (max-width: 768px) {
  .image-container {
    grid-template-columns: 1fr; /* single column */
  }
}

.image-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px; /* optional for style */
}

@media screen and (max-width: 768px) {
  .collabs {
    justify-content: flex-start; /* or space-between / unset */
  }
  .collabs .grid-container{
    padding-left: 15%;
  }
  .img-small {
    max-width: 120px;
    max-height: 120px;
  }
}

