.footer {
  display: flex;
  justify-content: space-between;   /* h4 left, content right */
  align-items: center;
  padding: 16px;
}

.footer-right {
  display: flex;
  flex-direction: column;           /* stack the two lines */
}

.footer-ig-logo{
    width: 20px;
}

.footer-ojc-logo{
    max-width: 7rem;
}
@media (max-width: 768px) {
    .footer-ojc-logo{
        max-width: 5rem;
    }
}