
.logo-image{
    /* max-width: -webkit-fill-available; */
    max-width: 500px;
}

.App-header h4{
    font-family: Georgia, 'Times New Roman', Times, serif
}



.home-image{
    width: -webkit-fill-available;
    max-width: 75%;
}


  .ig-logo{
    transform: scale(1.1);
  }
  .med-logo{
    max-height: 2rem;
  }
  
.text-overlay {
    position: absolute;
    /* top: 10%; */
    left: 50%;
    bottom: 15%;
    transform: translate(-50%, 0);
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    z-index: 1;
}

.contact-image{
    width: 70%;
    /* width: -webkit-fill-available; */
    /* max-height: 500px; */
    max-height: 700px;
    object-position: 50% top;
    object-fit: cover;
    
}

.small-image{
    max-width: 50px;
}

.content-sec{
    padding-left: 10%;
    padding-right: 10%;
}

.logo-info{
    display: grid;
    grid-template-columns: 2rem 75%;
    text-align: left;
    align-items: center;
    height: 3rem;
}

.down-bad{
    padding-bottom: 2rem;
}


.no-margins{
    margin: 0;
}

.logo-info p{
    padding-left: 5%;
}

.contact{
    justify-content: inherit;
    padding-top: 10%;
}

.quote {
  background-color: rgba(0, 0, 0, 0.6); /* semi-transparent black */
  color: white;
  padding: 10px 20px;
  border-radius: 8px;      /* rounded corners */
  display: inline-block;   /* shrink wrap to text */
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 4 equal columns */
  gap: 10px;
  text-align: center;
  padding: 20px;
}

.grid-header {
  font-weight: bold;
  background-color: #ae5d22;
  padding: 10px;
  border-bottom: 2px solid #ccc;
}

.stats-grid div {
  padding: 10px;
  border: 1px solid #ddd;
}

.img-small {
  max-width: 150px;
  max-height: 150px;
  width: auto;
  height: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem; /* adjust spacing as needed */
  /* background-color: rgb(151, 220, 220); */
  width: 50%;
  justify-self: center;
}
.grid-container2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem; /* adjust spacing as needed */
  width: 90%;
  justify-self: center;
}


.session p{
  text-align: left;
  margin: 0;
}



.overlay-text {
  width: 50%;
  position: absolute;
  top: 85%;       /* halfway down */
  left: 60%;      /* halfway across */
  transform: translate(-50%, -50%); /* truly center */
  color: white;
  font-size: 20px;
  font-weight: bold;
  background: rgba(0,0,0,0.5); /* semi-transparent background */
  padding: 5px 10px;
  border-radius: 5px;
}

.overlay-text p{
  text-align: left;
  margin: 0;
}

.orgImage{
  width: 100%;
}

.orgVid{
  width: 100%;
  height: 70%;
}

.youtube{
  width: 500px;
  height: 400px;
}
.pagedisplay{
  padding-top: 2em;
}
@media screen and (max-width: 768px) {
  .grid-container2 {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid-container{
    grid-template-columns: repeat(2, 1fr);
  }
  .pagedisplay{
    padding-top: 0;
  }
  .orgVid{
    height: 100%;
  }
  .overlay-text {
  width: 250px;
  top: 94%;       /* halfway down */
  left: 50%;      /* halfway across */
  font-size: 15px;
}
}

.home-section {
  width: 85%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.about{
  padding-right: 20%;
}